

<% the_org = params[:org] %>
<% @org = Org.where(:id => params[:org]).first %>
<% user_type = params[:user].to_i %>
<% if user_type == 0 %>
  <% status = "own" %>
<% elsif user_type == 1 %>
  <% status = "mng" %>
<% else %>
  <% status = "tsk" %>
<% end %>

<div class="signup-box">
  <div class="cnt-txt">
    <h1>fantastic, we've set up a space for <%= @org.name %></h1><br /><br />
  </div>
  <h2 class="cnt-txt">now let's create your account, just fill in a few details below and we're all done.</h2><br /><br />  


  <%= form_for(resource, as: registration_path, url: registration_path) do |f| %>
  <%= devise_error_messages! %>
    <div class="field cnt-txt">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "off", placeholder: "first name" %>
    </div><br />

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "off", placeholder: "last name" %>
    </div><br />

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address" %>
    </div><br />

    <div class="field">
      <%= f.hidden_field :org_id, value: @org.id, autocomplete: "off" %>
      <%= f.hidden_field :status, value: status, autocomplete: "off" %>
    </div>
    <br />

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "enter password" %><br /><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password" %>
    </div>

    <br /><br />

    <div class="actions">
      <%= f.submit 'finish', class: 'btn btn-success' %>
      <%= f.submit 'cancel', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>










