
<% org_name = flash[:org_name] %>
<% org_id = flash[:org_id] %>

<div class="signup-box">
  <h1 class="cnt-txt">now let's create an account for you</h1><br /> 
  <div class="cnt-txt">
    <h2>we'll make sure you're the owner of <%= org_name %> too.</h2><br />
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div class="field cnt-txt">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off", placeholder: "first name" %>
  </div><br />

  <div class="field">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "off", placeholder: "last name" %>
  </div><br />

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address" %>
  </div><br />

  <div class="field">
    <%= f.number_field :org_id, value: org_id, autocomplete: "off" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit 'continue', class: 'btn btn-success' %>
    <br /><br />
  </div>
<% end %>
</div>










