

  <h1>create a new user</h1>
    <% source = params[:source] %>
    <% projref = params[:projref] %>
    <%= source %>

<%= form_for @user, url: umakes_path(@user) do |f| %>
    <div class="field cnt-txt">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "off", placeholder: "first name" %>
    </div><br />

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "off", placeholder: "last name" %>
    </div><br />

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address" %>
    </div><br />

    <div class="field">
      <%= f.hidden_field :org_id, value: current_user.org_id, autocomplete: "off" %>
      <%= f.hidden_field :status, value: "tsk", autocomplete: "off" %>
      <%= f.hidden_field :source, value: source, autocomplete: "off" %>
      <%= f.hidden_field :projref, value: projref, autocomplete: "off" %>
    </div>
    <br />

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <br /><br />

    <div class="actions">
      <%= f.submit 'continue', class: 'btn btn-success' %>
      <br /><br />
    </div>
<% end %>