
<div class="booyah-box col-10 offset-1">
  <h2>task performer projects page </h2>
  <br /><br />
  <h4>project name: <%= @project.name %></h4>
  <h4>id number: <%= @project.id %></h4>
  <h4>description: <%= @project.description %></h4>
  <h4>status: <%= @project.status %></h4>
  <br />
</div>
<br />

<% @new_tasks = [] %>
<% @inprog_tasks = [] %>
<% @comp_tasks = [] %>
<% @the_tasks %>
<% title = "" %>


<% @project.tasks.each do |task| %>
  <% if task.status == "NEW" || task.status == "REA" && task.user_id == current_user.id %>
    <% @new_tasks << task %>
  <% elsif task.user_id == current_user.id %>
    <% @inprog_tasks << task %>
  <% else %>
    
  <% end %>
<% end %>


<% 2.times do |i| %>
  <% if i == 0 %>
    <% @the_tasks = @new_tasks %>
    <% title = "new tasks" %>
  <% else %>
    <% @the_tasks = @inprog_tasks %>
    <% title = "in progress tasks" %>
  <% end %>

    <div class="booyah-box col-10 offset-1">
      <h4><%= title %></h4>
      <% @the_tasks.in_groups_of(3, false).each do |group| %>
        <div class="row">
            <% group.each do |item| %>
              <div class="item col-4">
                <div class="card">
                  <h6><%= link_to item.title, performer_org_project_task_path(current_user.org, @project.id, item.id), class: 'nav-link' %>
                  <h6><%= item.description %></h6>
                  <h6>start:  <%= calculate_task_start_date(item.due_date,item.duration, true) %> - end:  <%= format_date_as_string_from(item.due_date) %></h6>
                  <h6>duration: <%= convert_to_string_from(item.duration) %></h6>
                </div>
              </div>
            <% end %>  
        </div>
      <% end %>
    </div>
    <br />

<% end %>

<br />

<div class="col-10 offset-1 cnt-txt">
  <%= link_to 'back to my projects', performer_org_path(current_user.org_id), class: 'btn btn-success' %>
</div>

