

<%# @user = User.new(:email => 'test@example.com', :password => 'password', :password_confirmation => 'password', :org_id => 106, :status => 2) %>
<%# @user.save %>

  <h1>create a new user</h1>
  <form>

<%= form_for @user, url: new_users_admin_path(@user) do |f| %>
    <div class="field cnt-txt">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "off", placeholder: "first name" %>
    </div><br />

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "off", placeholder: "last name" %>
    </div><br />

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address" %>
    </div><br />

    <div class="field">
      <%= f.hidden_field :org_id, value: current_user.org_id, autocomplete: "off" %>
      <%= f.hidden_field :status, value: 2, autocomplete: "off" %>
    </div>
    <br />

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <br /><br />

    <div class="actions">
      <%= f.submit 'continue', class: 'btn btn-success' %>
      <br /><br />
    </div>
<% end %>
