<div class="booyah-box col-10 offset-1">
  <%= parent_task = params[:parent_task] %>
  <h1>create a new task</h1>
  <%= @project.name %>
    <%= simple_form_for @task, url: performer_org_project_tasks_path(@project) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    
    <%= f.hidden_field :user_id, :id=>"user_id_field" %>
    <%= f.hidden_field :status, value: "NEW", autocomplete: "off" %>
    <%= f.hidden_field :due_date, value: calculate_new_task_due_date_from(parent_task), autocomplete: "off" %>
    <%= f.hidden_field :parent_task, value: parent_task, autocomplete: "off" %>

    
    <br /><br />
    
    <select class="js-example-placeholder-single js-states form-control" id="test">
      <option></option>
      <% @users.each do |user| %>
        <option value="<%= user.id %>" data-favorite-color="<%= user.first_name %>"><%= user.email %></option>
      <% end %>
    </select> 
    
    <br /><br />

    <%= f.submit 'create task', class: 'btn btn-success' %>
   
  
  <%= link_to 'create new user', new_umake_path(:source => "task-page", :projref => @project.id), class: 'btn btn-success' %>
  <% end %>
</div>



<script type='text/javascript'>

$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "select who to assign this task to, start typing their email",
    allowClear: true

  });

  var dateSelected = $('#date option:selected').val();

  // get the selection for user
    $( "select" )
      .change(function() {
      var str = "";
      $( "select option:selected" ).each(function() {
        //  var str = $('#test option:selected').text();
        var str = $('#test option:selected').val();
        $("#user_id_field").val(str);
          alert(str);
        });
      });

});
    
</script>