<% at_task_creation = false %>
<% user = User.where(:id => @this_task.user_id).first %>
<% user_assigned_to_this_task = false %>
<% if user == current_user %>
  <% user_assigned_to_this_task = true %>
<% end %>

<% @project = Project.where(:id => @this_task.project_id).first %>

<h1></h1>
<br /><br />
<div class="col12">
  <!-- Top section 12 wide project details pane -->
  <div class="row">
    <div class="col-10 offset-1">
      <div class="outer-containers halfscreentop">

        <div class="row">
          <div class="col-2"><h4>project name:<h4></div>
          <div class="col-7"><h4><%= @project.name %></h4></div>
          <div class="col-3 text-right"><h4>project status: XXX</h4></div>
        </div>
        <br />
        <div class="row">
          <div class="col-2"><h4>task name:<h4></div>
          <div class="col-7"><h4><%= @this_task.title %></h4></div>
          <div class="col-3 text-right"><h4>status: <%= @this_task.status %></h4></div>
        </div>
        <div class="row">
          <div class="col-2"><h5>description:<h5></div>
          <div class="col-7"><h5><%= @this_task.description %></h5></div>
        </div>
        <% if @this_task.status != "NEW" %>
          <div class="row">
            <div class="col-2"><h5>duration:<h5></div>
            <div class="col-7"><h5><%= @this_task.duration %></h5></div>
          </div>
          <div class="row">
            <div class="col-2"><h5>start date:<h5></div>
            <div class="col-7"><h5><%= calculate_task_start_date(@this_task.due_date,@this_task.duration,true) %></h5></div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-2"><h5>due date:<h5></div>
          <div class="col-7"><h5><%= format_date_as_string_from(@this_task.due_date) %></h5></div>
        </div>

      </div>
    </div>
  </div>

  <%= render "layouts/acptask" %>
  <%= render "layouts/reassigntsk" %>
  <%= render "layouts/rejecttask" %>
  <%= render "layouts/modal" %>
  <%= render "layouts/projtimeline" %>

  <br />
  <!-- Bottom section....-->
  <div class="row">
      <!-- ... 5 wide Pre-Requisites pane -->
      <div class="col-5 offset-1">
        <div class="outer-containers halfscreenbottom">
          <div class="cnt-txt"><h4>Dependencies For This Task</h4></div>
          <br /><br />

          <!-- For each dependency task generate link to the task detail modal and modal itself -->
          <div class="vertical-menu">
          <% @this_task.dependencys.each do |dependency| %>
            <% modal_name = dependency.id.to_s %>
            <div class="modal fade" id="<%= '%s' % [modal_name] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close", id= 'btnCloseShowDepTaskModal'>
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="cnt-txt">
                      <h4><%= dependency.title %></h4><br />
                    </div>
                    <div class="row">
                      <div class="col-10 offset-1">
        <!-- DESC -->   <div class="row">
                          <div class ="col-4">
                            <h7>description:</h7>
                          </div>
                          <div class ="col-8">
                            <h7><%=dependency.description %></h7><br />
                          </div>
                        </div>
        <!-- USER -->   <div class="row">
                          <div class ="col-4">
                            <% user = User.where(:id => dependency.user_id).first %>
                            <h7>assigned to:</h7>
                          </div>
                          <div class ="col-8">
                            <h7><%= user.email %></h7><br />
                          </div>
                        </div>

                        <% if dependency.status != "NEW" %>
          <!-- STRT -->   <div class="row">
                            <div class ="col-4">
                              <h7>start date:</h7>
                            </div>
                            <div class ="col-8">
                              <h7><%= calculate_task_start_date(dependency.due_date,dependency.duration,true) %></h7><br />
                            </div>
                          </div>
          <!-- DURA -->   <div class="row">
                            <div class ="col-4">
                              <h7>task duration:</h7>
                            </div>
                            <div class ="col-8">
                              <h7> <%= dependency.duration %></h7><br />
                            </div>
                          </div>
                        <% end %>

        <!-- DURA -->   <div class="row">
                          <div class ="col-4">
                            <h7>due date:</h7>
                          </div>
                          <div class ="col-8">
                            <h7><%= format_date_as_string_from(dependency.due_date) %></h7><br />
                          </div>
                        </div>
        <!-- STAT -->   <div class="row">
                          <div class ="col-4">
                            <h7>task status:</h7>
                          </div>
                          <div class ="col-8">
                            <h7><%= dependency.status %></h7><br />
                          </div>
                        </div>
                      </div>
                    </div>
                    <br /><br />
                    <div class="cnt-txt">
                        <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close", id= 'btnCloseShowDepTask'>back</button>
                        <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% target_var = "#"+modal_name %> 
            <%= link_to dependency.title, '#', data: {toggle: 'modal', target: target_var }, class: 'nav-link', remote: true %><br />
          <% end %>
          </div>
        </div>
      </div>

 

      <!-- ... and 5 wide Dependencies pane -->
      <div class="col-5">
        <div class="outer-containers halfscreenbottom">
          
          <% tasks_dependent_upon_task = Prerequisite.where(:dependency_id => @this_task.id) %>
          <% if tasks_dependent_upon_task.count < 1 %>
            <div class="cnt-txt">
              <h4>This Task is the EndPoint</h4>
              <br /><br />
              <h5>there are no tasks that follow this task, this task is the final activity in the project</h5>
            </div>
          <% else %>
            <h4>Tasks Dependent Upon This Task</h4>
            <div class="vertical-menu">
              <% tasks_dependent_upon_task.each do |dependency| %>
                <%= dependency.task.title %><br />
              <% end %>
            </div>
          <% end %>

        </div>
      </div>

  </div>





<br />

  <!-- section at bottom for buttons-->
  <div class="row halfscreenfooter">
    <div class="col-10 offset-1">
      <div class="cnt-txt outer-containers ">
        <% if user_assigned_to_this_task %>
          <% if @this_task.status == "NEW" || @this_task.status == "REA" %>
            <h5>you will need to accept this task first then you can create dependency tasks </h5><br />
          <% else %>
            <%= link_to 'add dependency<br />for this task'.html_safe, '#', data: {toggle: 'modal', target: '#modal_assign_dep'}, class: 'btn btn-success', id: 'btnCreateDepTask' %>
          <% end %>
        <% end %>

        <% if user_assigned_to_this_task %>
          <% if @this_task.status == "NEW" || @this_task.status == "REA" %>
            <%= link_to 'accept<br />this task'.html_safe, '#', data: {toggle: 'modal', target: '#acptask'}, class: 'btn btn-success', id: 'btnAcceptTask', remote: true %>
            <%= link_to 'reassign<br /> this task'.html_safe, '#', data: {toggle: 'modal', target: '#reassigntask'}, class: 'btn btn-success', id: 'btnReassignTask', remote: true %>
            <%= link_to 'reject<br />this task'.html_safe, '#', data: {toggle: 'modal', target: '#rejecttask'}, class: 'btn btn-success', id: 'btnRejectTask', remote: true %>
          <% else %>
            <%= link_to "edit<br />this task".html_safe, edit_performer_org_project_task_path(current_user.org, @this_task.project_id, @this_task), class: 'btn btn-success' %>
          <% end %>
        <% end %>
        <% if user_assigned_to_this_task %>
            <%= link_to 'back to<br />project'.html_safe, performer_org_project_path(current_user.org, @this_task.project_id), class: 'btn btn-success' %>
        <% else %>
          <%= link_to 'back to<br />project'.html_safe, :back, class: 'btn btn-success' %>
        <% end %>
        <%= link_to 'view project<br />timeline'.html_safe, '#', data: {toggle: 'modal', target: '#projtimeline'}, class: 'btn btn-success' %>
      </div>
    </div>
  </div>


</div>









<!-- Modal for adding a dependency to the task, select existing or button to create new dep task-->
<div class="modal fade" id="modal_assign_dep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id= 'btnCloseMakeTaskDependency'>
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="cnt-txt">
          <h3>add task as a dependency</h3><br />
        </div>
          <% all_tasks = Task.where(:project_id => @this_task.project_id) %>
          <%= simple_form_for Prerequisite.new, url: performer_org_project_prerequisites_path(@this_task.project) do |f| %>
          <div class="row">
            <div class="col-10 offset-1">


              <h6>tell us what needs to happen before you can start work.</h6>
              <h6>if you don't see the task which must complete before you can begin click the '+' button to create it. </h6><br />

              <!-- build set of available tasks to select from -->
              <% dep_map = [] %>
              <% all_tasks.each do |task| %>
                <% if is_endpoint(task) %>
                  <% dep_map = build_dependencies_from(task) %>
                <% end %>
              <% end %>
              <% all_task_paths = get_unique_paths(dep_map, true) %>
              <% tasks_available_for_selection = calculate_valid_dependecies_for_task(all_task_paths, @this_task.id) %>
              <!-- ******************** WE HAVE TO EXCLUDE ANY TASK THAT IS ALREADY A PRE-REQ -->


              <!-- select task / create new task -->
              <div class="row">
                <div class="col-10">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" />

                  <select class="select_a_task" id="selectTask" style="width:100%;">
                    <option></option>
                    <% tasks_available_for_selection.each do |available_task| %>

                      <option value="<%= available_task.id %>" data-favorite-color="<%= available_task.title %>" id="selectTask"><%= available_task.title %></option>
                    
                    <% end %>
                  </select> 

                </div>
                <div class="col-1">
                  <a href="#createNewDepTask" data-toggle="modal" data-dismiss="modal" class="btn btn-success" id="goto_create_dep_task">+</a>
                </div>
              </div>

                <%= f.hidden_field :task_id, value: @this_task.id, autocomplete: "off" %>
                <%= f.hidden_field :dependency_id, :id=>"dependency_id_field" %>

                <br /><br />
            </div>
          </div>
          <div class = "cnt-txt">
            <%= f.submit 'continue', class: 'btn btn-success', id: 'btnMakeTaskDependency' %>
            <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
          </div>
          <% end %>
      </div>    
    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>





<!-- Modal for create new dep task pop up-->
<div class="modal fade" id="createNewDepTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" id="close-test-box" data-dismiss="modal" aria-label="Close" id= 'btnCloseCreateNewTaskAsDependency'><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">
        <div class="cnt-txt">
          <h3>create new dependency task</h3><br />
        </div>

        <% @task = Task.new %>

        <% @users_for_selection = User.where(:org_id => current_user.org_id) %>

        <%= simple_form_for @task, url: performer_org_project_tasks_path(@project) do |f| %>


          <%= f.input :title, input_html: { id: "task_title" } %>
          <%= f.input :description, input_html: { id: "task_description" } %>
         
          <%= f.hidden_field :user_id, :id => "userid_field" %>
          
          <%= f.hidden_field :status, value: "NEW", autocomplete: "off" %>
          <%= f.hidden_field :due_date, value: calculate_new_task_due_date_from(@this_task), autocomplete: "off" %>
          <%= f.hidden_field :parent_task, value: @this_task.id, autocomplete: "off" %>

          <!-- select for assigning user to the task to be created -->
          <div class="row">
            <div class="col-10">
              <div id = "optionselectauser" >
                <select class="task_performer_selection" id="select2insidemodal" style="width:100%;">
                  <% @users_for_selection.each do |eligble_user| %>
                    <option></option>
                    <option value="<%= eligble_user.id %>" data-favourite-color="<%=eligble_user.first_name %>" id="selectUser"><%= eligble_user.email %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-1">
              <%= link_to '+', '#', data: {toggle: 'modal', target: '#addUserModal'}, class: 'btn btn-success', id: 'btnShowAddUserModal', remote: true %>
            </div>
          </div>


          <br /><br />

          <!-- modal buttons -->
          <div class = "cnt-txt">
            <%= f.submit 'create task', class: 'btn btn-success', id: 'btnCreateNewDepTask' %>
            <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
            
        </div>
        <% end %>

      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>











<script type='text/javascript'>


    // for ensuring that modals remove all data when they close!!
  $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
  });



  $(document).ready(function() { 

    var taskCreationStage = <%= at_task_creation%>;
    var dropDown = document.getElementById('selectTask option:selected')


    // ******** CREATE NEW TASK MODAL**********
    // initilaise the drop down for task performer selection
    $("#select2insidemodal").select2({
      dropdownParent: $("#createNewDepTask")
    });


     // set the placeholder text for select user as task performer
    $(".task_performer_selection").select2({
      placeholder: "select a task performer",
      allowClear: true
    });


    // blank out the previous user input when user clicks close
    // set the stage flag back to false so next drop down deals with selecting task
    $("#close-test-box").on('click', function(){
      $(".task_performer_selection").val([]).trigger("change"); 
      taskCreationStage = false;
    });



    // runs when user clicks continue at the create a new task to be a dependency modal
    $("#btnCreateNewDepTask").on('click', function(){
      btnCloseCreateTaskAsDependency = document.getElementById("close");
      // var userIdForSelectedTaskPerformer = $('#select2insidemodal option:selected').val();

      // btnCloseCreateTaskAsDependency.click();
//      $(".task_performer_selection").val([]).trigger("change"); 
      taskCreationStage = false;
      // alert(taskCreationStage);
      btnCloseCreateNewTaskAsDependency = document.getElementById("btnCloseCreateNewTaskAsDependency");
      btnCloseCreateNewTaskAsDependency.click();
    });





    // ** CODE SPECIFC TO MODAL FOR SELECTING EXISTING TASK AS A DEPENDENCY

    // set the placeholder text for all drop downs
    $(".select_a_task").select2({
      placeholder: "select a task",
      allowClear: true
    });


    
    // should clear out the user entry so blank for next time it appears - not working!
    $("#btnCloseMakeTaskDependency").on('click', function(){
      taskCreationStage = false;
    });


    // runs when user clicks the + button to create a new task to be a dependency
    $("#goto_create_dep_task").on('click', function(){
      btnCloseMakeTaskDependency = document.getElementById("btnCloseMakeTaskDependency");
    //  btnCloseMakeTaskDependency.click();
      taskCreationStage = true;
    });



    
    // get the selection for task selection in assign a task as a dependency modal
    $( "select" )
      .change(function() {
      var selectedTask = "";
      $( "select option:selected" ).each(function() {

        // assign contents of drop down to hidden text fields dependent on whether
        // drop down is for selecting an existing task or an existing user (for new task)
        if (!taskCreationStage) {
          var selectedTask = $('#selectTask option:selected').val();
          // alert(selectedTaskPerformer);
          $("#dependency_id_field").val(selectedTask);

        } else {
          var userIdForSelectedTaskPerformer = $('#select2insidemodal option:selected').val();
          
          // if selected user was just added at this point (i.e. not an existing user) it is identifiable by having a value of zero, therefore get reference to new user...
          if (userIdForSelectedTaskPerformer == 0 ) {
            // find user object where the email matches the 'new users' email from
            $.get( "/orgs").success(function( data ) {
              data.forEach(function (user) {
                console.log(user);
                if (user.email == userEmailForAppendOptionList) {
                  // alert(user.id);
                  $('#userid_field').val(user.id);
                }
              });                
            });

          } else {
            // ...user value not zero, therefore must be an existing user, continue and use value in drop down as normal
            $('#userid_field').val(userIdForSelectedTaskPerformer);
          }






        }
      });
    });

  });


</script>








